/* header */
header{
    display: flex;
    position: sticky;
    top: 15px;
    width: 100%;
    background-color: rgb(255, 245, 230);
    border: 2px solid black;
    margin-bottom: 20px;
    justify-content: space-between;
}

header img{
    width: 128px;
    border: 2px solid black;
    margin: 5px;
}
header nav{
    right: 20px;
}

nav ul{
    margin: 20px;
}

nav ul li {
    display: inline;
    font-size: 2em;
}

nav ul li+li::before{
    content: "  |";
}

nav ul li a{
    text-decoration: none;
}


/* main */
main{
    display: flex;
}

.principale{
    flex: 2;
    margin-left: 20px;
}

.ariane ul{
    padding: 0;
}

.ariane li{
    display: inline;
    font-size: 1.5em;
}

.ariane a{
    text-decoration: none;
}

h1+img{
    width: 100%;
}

.vignette{
    width: 64px;
    float: left;
    border: 2px solid black;
    margin-right: 20px;
}

aside{
    flex: 1;
    height: 100vh;
}

.accordion{
    padding: 0;
    margin: 0;
}

.has-sub{
    background-color: cornflowerblue;
    margin: 5px 0;
    list-style: none;
    padding: 10px;
} 
h2{
    margin: 0;
}
label:hover{
    color: yellow;
    cursor: pointer;
}

.sub{
    list-style: none;
}

.sub > li {
    height: 0;
    overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    display: none
}

.sub > li {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

input:checked + .sub > li {
    padding: 0.7em 1em;
    height: 10em;
    opacity: 1;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

footer p{
    font-size: 1.5em;
    margin: 5px 20px;
}

footer div{
    margin: 5px 20px;
    align-self: flex-end;
}