/* header */
header{
    display: flex;
    position: sticky;
    top: 15px;
    width: 100%;
    background-color: rgb(255, 245, 230);
    border: 2px solid black;
    margin-bottom: 20px;
    justify-content: space-between;
}

header img{
    width: 128px;
    border: 2px solid black;
    margin: 5px;
}
header nav{
    right: 20px;
}

nav ul{
    margin: 20px;
}

nav ul li {
    display: inline;
    font-size: 2em;
}

nav ul li+li::before{
    content: "  |";
}

nav ul li a{
    text-decoration: none;
}


/* main */
main{
    display: flex;
}

.principale{
    flex: 2;
    margin-left: 20px;
}

.bouton{
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    outline-style: none;
}
    
.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}
    
.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}



.ariane ul{
    padding: 0;
}

.ariane li{
    display: inline;
    font-size: 1.5em;
}

.ariane a{
    text-decoration: none;
}

.photo{
    mix-blend-mode: difference;
    width: 100%;
}


.vignette{
    width: 64px;
    float: left;
    border: 2px solid black;
    margin-right: 20px;
}

.grey{
    position: absolute;
    width: 78em;
    height: 10em
}

.heart{
    position: absolute;
    width: 92px;
    top: 74em;
    left: 77em;
    display: none;
}

.containerFav:hover .grey{
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.containerFav:hover .heart{
    display: block;
    z-index: 2;
}

aside{
    flex: 1;
    height: 100vh;
}

.accordion{
    padding: 0;
    margin: 0;
}

.has-sub{
    background-color: cornflowerblue;
    margin: 5px 0;
    list-style: none;
    padding: 10px;
} 
h2{
    margin: 0;
}
label:hover{
    color: yellow;
    cursor: pointer;
}

.sub{
    list-style: none;
}

.sub > li {
    height: 0;
    overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    display: none
}

.sub > li {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

input:checked + .sub > li {
    padding: 0.7em 1em;
    height: 10em;
    opacity: 1;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

footer p{
    font-size: 1.5em;
    margin: 5px 20px;
}

footer div{
    margin: 5px 20px;
    align-self: flex-end;
}